body
html
	font-size 100%
	height 100%
	@media only screen and (min-width 768px) and (max-width 1024px)
		font-size 90%

body
	font-family $open
	line-height 1.2
	background #fff

.clearfix
	clearfix()

.align
	&-center
		text-align center

	&-right
		text-align right

	&-left
		text-align right

.mainwrap
	min-height 100%
	margin-bottom - $footerHeight
	@media only screen and (min-width 768px) and (max-width 1024px)
		padding-left 30px

	&:after
		content ''
		display block
		height $footerHeight

.btnwrap
	text-align center

.grid
	clear both