.header
	background-color #fff
	text-align left

	&__inner
		font-size rem(40px)
		text-transform uppercase
		inner(990px, $mainMinWidth, 0)
		padding-top 36px
		padding-bottom 20px
		color #323232
