include ../helpers/variables
include ../helpers/mixins

doctype html
html(lang='ru')
	include ../partials/head

	body
		.mainwrap
			include ../partials/header
			block content

		//- include ../partials/footer

		include ../partials/scripts
		<!--[if IE 8]>
		script(src="js/checked-polyfill.min.js")
		script(src="js/ie.js")
		<![endif]-->
